.board {
  border-color: gray;
  outline: none;
  text-align: center;
}

.row {
  display: inline-block;
}

.cell {
  width: 20px;
  height: 20px;
}

.is-food {
  background-color: red;
}

.is-snake {
  background-color: blue;
  border-radius: 25px;
}

.is-wall {
  background-color: black;
}

h3 {
  text-align: center;
}